.outline-skew::before {
    content: '';
    background: light-dark(linear-gradient(to right, var(--theme-color-gradient-end), var(--theme-color)), linear-gradient(to right, var(--theme-color), var(--theme-color-gradient-end)));
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: -0.5em;
    right: -0.5em;
    z-index: 9;
    border-radius: 0.25rem
}

.pressable-link {
    background: light-dark(oklch(35.502% 0.0379 270.134 / 0.863), oklch(66.574% 0.05256 269.737 / 0.863));

    &:hover &:not(.active) .link-facade {
        transform: translateY(-0.15rem);
        filter: brightness(1.05);
    }

    &:hover .link-facade {
        transform: translateY(-0.75rem);
        filter: brightness(1.15);
    }
}

.link-facade {
    background: light-dark(var(--game-card-bg-light), var(--game-card-bg-dark));
    transform: translateY(-0.5rem);
}