.outline-skew::before {
    content: '';
    background: light-dark(linear-gradient(to right, var(--theme-color-gradient-end), var(--theme-color)), linear-gradient(to right, var(--theme-color), var(--theme-color-gradient-end)));
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: -0.5em;
    right: -0.5em;
    z-index: 9;
    border-radius: 0.25rem
}

.pressable-link {
    background: oklch(58.485% 0.09217 155.608 / 0.863);

    &:hover &:not(.active) .link-facade {
        transform: translateY(-0.15rem);
        filter: brightness(1.05);
    }

    &:hover .link-facade {
        transform: translateY(-0.75rem);
        filter: brightness(1.15);
    }
}

.link-facade {
    background: #2a2c34;
    transform: translateY(-0.5rem);
}