.steps-bg {
    background: #ffc012;
    background: radial-gradient(
        circle,
        oklch(93.525% 0.0279 225.86) 0%,
        oklch(73.419% 0.13172 267.78) 50%,
        oklch(61.04% 0.16042 285.198) 100%
    );
}

.sprite {
    filter: brightness(0) saturate(100%) invert(44%) sepia(18%) saturate(807%)
        hue-rotate(181deg) brightness(92%) contrast(83%);
    animation: rotation infinite;
}

.text-outline-blue {
    -webkit-text-stroke: 2px #165ee4;
}

.text-outline-white {
    -webkit-text-stroke: 2px light-dark(#f5f8fe, #292828);
}

.pkmn-glow::after,
.pkmn-glow::before {
    content: '';
    position: absolute;
    inset: 0;
    margin: auto;
    max-width: 230px;
    aspect-ratio: 1;
    /* border-radius: 50%; */
    filter: blur(40px);
    border-radius: 1em;

    @media (min-width: 1024px) {
        max-width: 330px;
    }
}

.pkmn-glow::before {
    background: oklch(98.006% 0.00973 253.023);
    z-index: 2;
    animation: reverse-rotate 7000ms linear infinite;
}

.pkmn-glow::after {
    background: oklch(99.091% 0.01215 91.525);

    z-index: 3;
    animation: rotation 7000ms linear infinite;
}

@keyframes rotation {
    0% {
        rotate: calc(180deg);
        transform: scale(100%);
    }

    50% {
        transform: scale(70%);
    }

    100% {
        rotate: calc(0deg);
        transform: scale(100%);
    }
}

@keyframes reverse-rotate {
    0% {
        rotate: calc(0deg);
        transform: scale(100%);
    }

    50% {
        transform: scale(70%);
    }

    100% {
        rotate: calc(180deg);
        transform: scale(100%);
    }
}

.option-btn {
    outline-offset: 0.25rem;
    background: oklch(32.418% 0.08919 267.654 / 0.863);

    &:active .option-facade, &.active .option-facade {
        transform: translateY(0.5rem);
        filter: brightness(1.15);
    }
}

.option-facade {
    background: hsl(230, 52%, 49%);
}

.bug {
    background-color: var(--type-bug);
}