.gradient-text {
  background: linear-gradient(to right, var(--theme-color), var(--theme-color-gradient-end));
  
  background-clip: text;
  -webkit-background-clip: text; 
  
  color: transparent;
  -webkit-text-fill-color: transparent; 
}
