@import "tailwindcss";

:root {
    --text: #f8f8f8;
    --correct: #538d4e;
    --almost: #b59f3b;
    --incorrect: #3a3a3c;
    --unused: #818384;
    font-family: 'Libre Franklin', sans-serif;
}

body {
    height: 100vh;
    background-color: var(--color-zinc-900);
    color: var(--text);
}

#root {
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}